[submodule "components/imu"]
	path = components/imu
	url = git@github.com:phonght32/imu.git
[submodule "components/mcu_port"]
	path = components/mcu_port
	url = git@github.com:phonght32/mcu_port.git
[submodule "components/bldc_motor"]
	path = components/bldc_motor
	url = git@github.com:phonght32/bldc_motor.git
[submodule "components/imu_filter"]
	path = components/imu_filter
	url = git@github.com:phonght32/imu_filter.git
